* {
  margin: 0;
  padding: 0;
}
html, body, .container {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.component {
  width: 12rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: .9rem;
  padding: .7rem;
}
.qr-image {
  width: 100%;
  height: 50%;
  border-radius: .5rem;
}
.text-container {
  font-size: 15px;
  font-family: 'Outfit';

  text-align: center;

  margin: .4rem;
}
.bold-text {
  font-weight: 700;
  color: hsl(218, 44%, 22%);

  margin-top: .7rem;
}
.normal-text {
  font-size: 10.5px;
  font-weight: 400;
  color: hsl(216, 15%, 48%);

  margin-inline: .1rem;
  margin-top: .7rem;
  margin-bottom: 1rem;
}